.timeliner {
    position: relative;
    max-width: 800px;
    margin: 100px ;
    background-color: #d2ae38;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    margin: auto;
}

.titleparcours h1 {
    color: #f1b727;
    font-size: 24px;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tcontainer {
    padding: 10px;
    position: relative;
    width: 80%; 
    margin: auto;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tcontainer.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}




.text-box {
    padding: 20px 30px;
    background: #eee;
    position: relative;
    border-radius: 15px;
    font-size: 15px;
}

.tcontainer img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.timeliner::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 50%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 5.8s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
    color: #095a55;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
    color: #0f3959;
}

.left-container-arrow,
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.left-container-arrow {
    border-left: 15px solid #eee;
    right: -15px;
}

.right-container-arrow {
    border-right: 15px solid #eee;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeliner {
        margin: 50px auto;
    }

    .timeliner::after {
        left: 31px;
    }

    .tcontainer {
        width: 100%;
    }

    .text-box {
        font-size: 13px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}



.tcontainer {
    padding: 10px;
    position: relative;
    width: 80%; /* Ajustez la largeur selon votre préférence */
    margin: auto;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.tcontainer:hover {
    opacity: 1;
    transform: translateY(0);
}

.text-box {
    padding: 20px 30px;
    background: #eee;
    position: relative;
    border-radius: 15px;
    font-size: 15px;
}

.tcontainer img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.timeliner::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 50%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 5.8s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2 {
    font-weight: 600;
    color: #095a55;
}

.text-box small {
    display: inline-block;
    margin-bottom: 15px;
    color: #0f3959;
}

.left-container-arrow,
.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.left-container-arrow {
    border-left: 15px solid #eee;
    right: -15px;
}

.right-container-arrow {
    border-right: 15px solid #eee;
    left: -15px;
}

@media screen and (max-width: 600px) {
    .timeliner {
        margin: 50px auto;
    }

    .timeliner::after {
        left: 31px;
    }

    .tcontainer {
        width: 100%;
    }

    .text-box {
        font-size: 13px;
    }

    .right-container {
        left: 0;
    }

    .left-container img,
    .right-container img {
        left: 10px;
    }

    .left-container-arrow,
    .right-container-arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
}



  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

.main-width {
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.hero {
    width: 100%;
    height: 120%;
    min-height: 120vh;
    background-color: rgba(0, 0, 0, 0.955);
    background-size: auto; 
    background-size: 28% 50%; 
    background-repeat: no-repeat;
    background-position: 74.8% 70%;
    position: relative;
}
.hero .background-image {
    width: 30%; 
    height: 50%;
    background-image: url("../images/Me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
    position: absolute;
    top: 53%; 
    right: 15%; 
    transform: translate(0%, -50%); 
}
    
    
.hero2 {
    width: 100%;
    height: 100%;
    min-height: 180vh;
    background-color: rgb(0, 0, 0);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    position: relative;

}

header {
    padding: 40px 30px 30px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-style: groove;
    border-radius: 0px;
    border-color: #ffffff;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-width: 2px;
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.logo i:hover {
    color: #f1b727;
    transition: .4s;
}
nav .hamb {
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: #ffffff;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: #ffffff;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover {
    color: #f1b727;
    transition: .4s;
}

nav .nav-list li.btn a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 500;
}

nav .nav-list li.btn:hover a {
    color: #f1b727;
    border: 2px solid transparent;
    transition: .4s;
}
.container {
    padding-top: 40px;
    margin-left: 80px;
}

.container .hero-text {
    margin-bottom: 40px;
    text-align: justify;
}
.container .hero-text p {
    margin-bottom: 40px;
    text-align: justify;
    direction: ltr;
}

.container .hero-text h1 {
    color: rgb(255, 255, 255);
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
    

}

span {
    color: #fcfffd;

}

.hero-text {
    margin-left: -30px;
    width: 700px;
    color: #eee;
    
}

.container .hero-text h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p {
    width: 450px;
    max-width: 100%;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.container .hero-passions p {
    width: 1200px;
    max-height: 100%;
    color: #ffffff;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
    background-color: rgb(250, 193, 71);
}

.container .hero-passions h1 {
    color: whitesmoke;
}

.container .bottom {
    background-color: darkslategray;
    background-position: 100%;
}

.container .bottom p {

    color: white;
}
.lieu {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
}

.lieu i {
    margin-right: 10px; /* Espace entre l'icône et le paragraphe */
}

.lieu p {
    margin: 0; /* Supprime la marge par défaut du paragraphe */
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

.main-width {
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0px 20px;
}

.hero {
    width: 100%;
    height: 120%;
    min-height: 120vh;
    background-color: rgba(0, 0, 0, 0.955);
    background-size: auto; 
    background-size: 28% 50%; 
    background-repeat: no-repeat;
    background-position: 74.8% 70%;
    position: relative;
}
.hero .background-image {
    width: 30%; 
    height: 50%;
    background-image: url("../images/Me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
    position: absolute;
    top: 53%; 
    right: 15%; 
    transform: translate(0%, -50%); 
}
    
    
.hero2 {
    width: 100%;
    height: 100%;
    min-height: 180vh;
    background-color: rgb(0, 0, 0);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 80% 50%;
    position: relative;

}

header {
    padding: 40px 30px 30px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    border-style: groove;
    border-radius: 0px;
    border-color: #ffffff;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-width: 2px;
}

.logo i {
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}
.logo i:hover {
    color: #f1b727;
    transition: .4s;
}
nav .hamb {
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
    display: none;
}

nav .hamb span {
    display: block;
    background: #ffffff;
    width: 100%;
    height: 3px;
    transition: .3s;
    transition-property: transform, opacity;
}

nav .hamb span:nth-child(2) {
    margin: 7px 0px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a {
    display: inline-block;
    color: #ffffff;
    margin-left: 55px;
    font-size: 15px;
    font-weight: 600;
}

nav .nav-list li:not(:last-child) a:hover {
    color: #f1b727;
    transition: .4s;
}

nav .nav-list li.btn a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 9px 28px;
    border-radius: 30px;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 500;
}

nav .nav-list li.btn:hover a {
    color: #f1b727;
    border: 2px solid transparent;
    transition: .4s;
}
.container {
    padding-top: 40px;
    margin-left: 80px;
}

.container .hero-text {
    margin-bottom: 40px;
    text-align: justify;
}
.container .hero-text p {
    margin-bottom: 40px;
    text-align: justify;
    direction: ltr;
}

.container .hero-text h1 {
    color: rgb(255, 255, 255);
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
    

}

span {
    color: #fcfffd;

}

.hero-text {
    margin-left: -30px;
    width: 700px;
    color: #eee;
    
}

.container .hero-text h3 {
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
}

.container .hero-text p {
    width: 450px;
    max-width: 100%;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.container .hero-passions p {
    width: 1200px;
    max-height: 100%;
    color: #ffffff;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 50px;
    background-color: rgb(250, 193, 71);
}

.container .hero-passions h1 {
    color: whitesmoke;
}

.container .bottom {
    background-color: darkslategray;
    background-position: 100%;
}

.container .bottom p {

    color: white;
}
.lieu {
    display: flex;
    align-items: center; /* Aligne les éléments verticalement au centre */
}

.lieu i {
    margin-right: 10px; /* Espace entre l'icône et le paragraphe */
}

.lieu p {
    margin: 0; /* Supprime la marge par défaut du paragraphe */
}
